.footer {
    padding: 3rem;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenido-footer{
        padding: 3rem;
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyrigth {
        color: $blanco;
        text-align: center;
    }
}